body {
	margin: 0;
	font-size: 16px;
	font-family: 'Neo Sans Pro';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('./fonts/Segoe UI.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: bold;
	src: local('Segoe UI Bold'), url('./fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
	font-family: 'Neo Sans Pro';
	src: local('Neo Sans Pro Regular'), url('./fonts/NeoSansPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Neo Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Neo Sans Pro Light'), url('./fonts/NeoSansPro-Light.woff') format('woff');
}

@font-face {
	font-family: 'Neo Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Neo Sans Pro Bold'), url('./fonts/NeoSansPro-Bold.woff') format('woff');
}
